.guide-list .title {
    position: relative;
    cursor: pointer;
    transition: 0.3s;
}
.guide-list > ul {
	padding-left: 20px;
}
.section-list > ul {
	padding-left: 10px;
}
.guide-list ul li {
	list-style: none;
}
.guide-list ul li a {
	padding: 7.5px 10px 7.5px 20px;
	display: block;
}
.guide-list .guide-link.title:before {
    content: "";
    position: absolute;
    top: 11px;
    left: 0px;
    border-style: solid;
    border-width: 5px 0 5px 8px;
    border-color: transparent transparent transparent #b5e61e;
    transform: rotate(0deg);
    transition: 0.3s;
}
.guide-list .guide-link.title.on:before {
    transform: rotate(90deg);
}
.guide-list .section-link.title.active {
  color: #61c202;
}
/*
.guide-list a {
  text-decoration: none;
}
*/
.page-content {
  padding-top:150px;
  margin-bottom: 30px;
}

.guides {
  font-weight: bold;
}

h1 {
  margin-bottom: 10px;
  font-weight: 500;
}

h2 {
  font-size: 28px;
  font-weight: 300;
  margin: 25px 0 10px;
}

h3 {
  font-size: 22px;
  font-weight: 400;
  margin: 25px 0 10px;
}

p {
  margin-bottom: 0.5em;
}

li {
  font-size: 16px;
  padding-top: 5px;
}

p a {
  font-weight: 300;
  text-decoration: none;
}

pre {
  margin-top: 10px;
}

.content a {
  color: #55af00;
}

.highlighter-rouge {
  margin: 15px 0;
  color: #333333;
  font-size:80%;
}

.header-docs-link {
  font-size: 24px;
  font-weight: 600;
  padding-left: 42px;
}

code {
  padding: 3px 7px;
  font-size: 90%;
  background-color: rgba(12, 81, 118, 0.1);
  border-radius: 2px;
}

th {
  font-weight: bold;
  background-color: #4f5263;
  color: #ffffff;
}

tr:nth-child(even) {
  background-color: #e8eaee;
}

pre {
    display: block;
    padding: 9.5px;
    margin: 0 0 10px;
    font-size: 13px;
    line-height: 1.42857143;
    color: #333;
    word-break: normal!important;
    word-wrap: break-word;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 4px;
    overflow-x: scroll!important;
}

redoc[spec-url] .menu-header img {
  display: none;
}

redoc[spec-url] pre {
    color: white;
    font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
    font-size: 14px;
    border: none;
}
redoc[spec-url] code,
kbd,
tt,
var {
    color: #333;
    font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
    font-size: 14px;
}
