.guide-list .title {
    position: relative;
    cursor: pointer;
    transition: 0.3s;
}
.guide-list > ul {
	padding-left: 0px;
}
.section-list > ul {
	padding-left: 10px;
}
.guide-list ul li {
	list-style: none;
}
.guide-list ul li a {
	padding: 7.5px 10px 7.5px 20px;
	display: block;
}
.guide-list .guide-link.title:before {
    content: "";
    position: absolute;
    top: 14px;
    left: 5px;
    border-style: solid;
    border-width: 5px 0 5px 8px;
    border-color: transparent transparent transparent #b5e61e;
    transform: rotate(0deg);
    transition: 0.3s;
}
.guide-list .guide-link.title.on:before {
    transform: rotate(90deg);
}
.guide-list .section-link.title.active {
  color: #61c202;
}
.guide-child ul {
  padding-left: 25px;
}


.page-content {
  padding-top:0px;
  margin-bottom: 60px;
}

.guides {
  font-weight: bold;
}

h1 {
    color: #4a5165!Important;
    font-size: 35px!important;
    font-weight: 700!important;
    margin-bottom: 30px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif!important;
}

h2 {
    color: #4c5164;
    font-size: 28px;
    font-weight: 300;
    margin-bottom: 10px;
    margin-top: 30px;
    line-height: 38px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif!important;
}

h3 {
  font-size: 18px;
  font-weight: 400;
  margin: 25px 0 10px;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif!important;
}

h5 {font-family: "Helvetica Neue",Helvetica,Arial,sans-serif!important;}

p {
  margin-bottom: 0.5em;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif!important;
}

li {
  font-size: 16px;
  padding-top: 5px;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif!important;
}

p a {
  font-weight: 300;
  text-decoration: none;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif!important;
}
span {font-family: "Helvetica Neue",Helvetica,Arial,sans-serif!important;}
pre {
  margin-top: 10px; font-family: Menlo,Monaco,Consolas,"Courier New",monospace!important;
}
pre span {font-family: Menlo,Monaco,Consolas,"Courier New",monospace!important;}

.content a {
  color: #55af00;
}

.highlighter-rouge {
  margin: 15px 0;
  color: #333333;
  font-size:80%;
}

.header-docs-link {
    font-size: 12px;
    font-weight: 400;
    padding-left: 42px;
    text-transform: uppercase;
    letter-spacing: 0.52em;
    position: relative;
    top: -24px;
}

code {
  padding: 3px 7px;
  font-size: 90%;
  background-color: rgba(12, 81, 118, 0.1);
  border-radius: 2px;
}

th {
  font-weight: bold;
  background-color: #4f5263;
  color: #ffffff;
}

tr:nth-child(even) {
  background-color: #e8eaee;
}

pre {
    display: block;
    padding: 9.5px;
    margin: 0 0 10px;
    font-size: 13px;
    line-height: 1.42857143;
    color: #333;
    word-break: normal!important;
    word-wrap: break-word;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 4px;
    overflow-x: scroll!important;
}

redoc[spec-url] .search-input-wrap {
  margin-top: 150px;
}

redoc[spec-url] .menu-header img {
  display: none;
}

redoc[spec-url] pre {
    color: white;
    font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
    font-size: 14px;
    border: none;
}
redoc[spec-url] code,
kbd,
tt,
var {
    color: #333;
    font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
    font-size: 14px;
}

.banner {
  padding-top: 2em;
  padding-bottom: 0.2em;
  margin: 0 auto;
  background-color:#e8eaee;
  text-align:center;
}

.banner a {
  color: #55af00;
}
