
@font-face {
	font-family: 'SourceSansPro';
	src: url('sourcesanspro/SourceSansPro-BlackIt.eot');
	src: url('sourcesanspro/SourceSansPro-BlackIt.eot?#iefix') format('embedded-opentype'),
		url('sourcesanspro/SourceSansPro-BlackIt.woff2') format('woff2'),
		url('sourcesanspro/SourceSansPro-BlackIt.woff') format('woff'),
		url('sourcesanspro/SourceSansPro-BlackIt.ttf') format('truetype'),
		url('sourcesanspro/SourceSansPro-BlackIt.svg#SourceSansPro-BlackIt') format('svg');
	font-weight: 900;
	font-style: italic;
}

@font-face {
	font-family: 'SourceSansPro';
	src: url('sourcesanspro/SourceSansPro-BoldIt.eot');
	src: url('sourcesanspro/SourceSansPro-BoldIt.eot?#iefix') format('embedded-opentype'),
		url('sourcesanspro/SourceSansPro-BoldIt.woff2') format('woff2'),
		url('sourcesanspro/SourceSansPro-BoldIt.woff') format('woff'),
		url('sourcesanspro/SourceSansPro-BoldIt.ttf') format('truetype'),
		url('sourcesanspro/SourceSansPro-BoldIt.svg#SourceSansPro-BoldIt') format('svg');
	font-weight: bold;
	font-style: italic;
}

@font-face {
	font-family: 'SourceSansPro';
	src: url('sourcesanspro/SourceSansPro-Regular.eot');
	src: url('sourcesanspro/SourceSansPro-Regular.eot?#iefix') format('embedded-opentype'),
		url('sourcesanspro/SourceSansPro-Regular.woff2') format('woff2'),
		url('sourcesanspro/SourceSansPro-Regular.woff') format('woff'),
		url('sourcesanspro/SourceSansPro-Regular.ttf') format('truetype'),
		url('sourcesanspro/SourceSansPro-Regular.svg#SourceSansPro-Regular') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'SourceSansPro';
	src: url('sourcesanspro/SourceSansPro-Bold.eot');
	src: url('sourcesanspro/SourceSansPro-Bold.eot?#iefix') format('embedded-opentype'),
		url('sourcesanspro/SourceSansPro-Bold.woff2') format('woff2'),
		url('sourcesanspro/SourceSansPro-Bold.woff') format('woff'),
		url('sourcesanspro/SourceSansPro-Bold.ttf') format('truetype'),
		url('sourcesanspro/SourceSansPro-Bold.svg#SourceSansPro-Bold') format('svg');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'SourceSansPro';
	src: url('sourcesanspro/SourceSansPro-Light.eot');
	src: url('sourcesanspro/SourceSansPro-Light.eot?#iefix') format('embedded-opentype'),
		url('sourcesanspro/SourceSansPro-Light.woff2') format('woff2'),
		url('sourcesanspro/SourceSansPro-Light.woff') format('woff'),
		url('sourcesanspro/SourceSansPro-Light.ttf') format('truetype'),
		url('sourcesanspro/SourceSansPro-Light.svg#SourceSansPro-Light') format('svg');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'SourceSansPro';
	src: url('sourcesanspro/SourceSansPro-Semibold.eot');
	src: url('sourcesanspro/SourceSansPro-Semibold.eot?#iefix') format('embedded-opentype'),
		url('sourcesanspro/SourceSansPro-Semibold.woff2') format('woff2'),
		url('sourcesanspro/SourceSansPro-Semibold.woff') format('woff'),
		url('sourcesanspro/SourceSansPro-Semibold.ttf') format('truetype'),
		url('sourcesanspro/SourceSansPro-Semibold.svg#SourceSansPro-Semibold') format('svg');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'SourceSansPro';
	src: url('sourcesanspro/SourceSansPro-ExtraLight.eot');
	src: url('sourcesanspro/SourceSansPro-ExtraLight.eot?#iefix') format('embedded-opentype'),
		url('sourcesanspro/SourceSansPro-ExtraLight.woff2') format('woff2'),
		url('sourcesanspro/SourceSansPro-ExtraLight.woff') format('woff'),
		url('sourcesanspro/SourceSansPro-ExtraLight.ttf') format('truetype'),
		url('sourcesanspro/SourceSansPro-ExtraLight.svg#SourceSansPro-ExtraLight') format('svg');
	font-weight: 200;
	font-style: normal;
}

@font-face {
	font-family: 'SourceSansPro';
	src: url('sourcesanspro/SourceSansPro-Black.eot');
	src: url('sourcesanspro/SourceSansPro-Black.eot?#iefix') format('embedded-opentype'),
		url('sourcesanspro/SourceSansPro-Black.woff2') format('woff2'),
		url('sourcesanspro/SourceSansPro-Black.woff') format('woff'),
		url('sourcesanspro/SourceSansPro-Black.ttf') format('truetype'),
		url('sourcesanspro/SourceSansPro-Black.svg#SourceSansPro-Black') format('svg');
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: 'SourceSansPro';
	src: url('sourcesanspro/SourceSansPro-LightIt.eot');
	src: url('sourcesanspro/SourceSansPro-LightIt.eot?#iefix') format('embedded-opentype'),
		url('sourcesanspro/SourceSansPro-LightIt.woff2') format('woff2'),
		url('sourcesanspro/SourceSansPro-LightIt.woff') format('woff'),
		url('sourcesanspro/SourceSansPro-LightIt.ttf') format('truetype'),
		url('sourcesanspro/SourceSansPro-LightIt.svg#SourceSansPro-LightIt') format('svg');
	font-weight: 300;
	font-style: italic;
}

@font-face {
	font-family: 'SourceSansPro';
	src: url('sourcesanspro/SourceSansPro-It.eot');
	src: url('sourcesanspro/SourceSansPro-It.eot?#iefix') format('embedded-opentype'),
		url('sourcesanspro/SourceSansPro-It.woff2') format('woff2'),
		url('sourcesanspro/SourceSansPro-It.woff') format('woff'),
		url('sourcesanspro/SourceSansPro-It.ttf') format('truetype'),
		url('sourcesanspro/SourceSansPro-It.svg#SourceSansPro-It') format('svg');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'SourceSansPro';
	src: url('sourcesanspro/SourceSansPro-ExtraLightIt.eot');
	src: url('sourcesanspro/SourceSansPro-ExtraLightIt.eot?#iefix') format('embedded-opentype'),
		url('sourcesanspro/SourceSansPro-ExtraLightIt.woff2') format('woff2'),
		url('sourcesanspro/SourceSansPro-ExtraLightIt.woff') format('woff'),
		url('sourcesanspro/SourceSansPro-ExtraLightIt.ttf') format('truetype'),
		url('sourcesanspro/SourceSansPro-ExtraLightIt.svg#SourceSansPro-ExtraLightIt') format('svg');
	font-weight: 200;
	font-style: italic;
}

@font-face {
	font-family: 'SourceSansPro';
	src: url('sourcesanspro/SourceSansPro-SemiboldIt.eot');
	src: url('sourcesanspro/SourceSansPro-SemiboldIt.eot?#iefix') format('embedded-opentype'),
		url('sourcesanspro/SourceSansPro-SemiboldIt.woff2') format('woff2'),
		url('sourcesanspro/SourceSansPro-SemiboldIt.woff') format('woff'),
		url('sourcesanspro/SourceSansPro-SemiboldIt.ttf') format('truetype'),
		url('sourcesanspro/SourceSansPro-SemiboldIt.svg#SourceSansPro-SemiboldIt') format('svg');
	font-weight: 600;
	font-style: italic;
}