---
# Only the main Sass file needs front matter (the dashes are enough)
---

// $font-size-base: 12px;
// $headings-font-weight: 600;
// $blockquote-font-size: $font-size-base;

// Old
$base-font-family: "SourceSansPro", sans-serif;
$base-font-size:   16px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #5a645b;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;

@charset "utf-8";


// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "bootstrap",
        "syntax-highlighting"
;

#primary-menu .navbar-nav .btn-link {
  color: #5A645B;
  font-size: 16px;
  font-weight: 600;
  font-family: SourceSansPro, sans-serif;
  padding: 13px;
  padding-top: 18px;
  text-transform: uppercase;
  text-decoration: none;
}
#primary-menu .navbar-nav .btn-link:hover{
  text-decoration: none;
}

#primary-menu div.dropdown{
  width: 100%;
}

@media (max-width: 1025px){
  #primary-menu{
    position: relative;
    top: -50px;
  }
}
