---
layout: default
---
<em>branch_paul</em>
<div id="content">
	
	<a class="flyout-button" onclick="toggleTitlesMenu()">Guides</a>
	<div class="guides">
      	<div id="docTitles" class="guide-list">
	        <div class="main-title clickable active"><a class="" href="javascript:void(0);">Guides</a></div>
	        <ul>
	        	{% for guide in site.guides %}
	        	<li>
	            	<a class="guide-link title" href="javascript:void(0);" data-toggle="collapse" data-target="#{{ guide.anchor }}">{{ guide.title }}</a>
	            	<div id="{{ guide.anchor }}" class="guide-child collapse">
	            		<div class="section-list">
		            		<ul>
		            			{% for section in guide.sections %}
		            			<li><a class="section-link clickable title" href="{{ site.baseurl }}/docs/{{ section.module }}.html">{{ section.title }}</a></li>
		            			{% endfor %}
		            		</ul>
	            		</div>
	            	</div>
	          	</li>
	          	{% endfor %}
	        </ul>
	        <button class="push-menu-close-button" onclick="toggleTitlesMenu()"></button>
	    </div>

	    <div id="docContents">


	    </div>
    	<div class="clear"></div>
    </div>

</div>



<script type="text/javascript">
	jQuery(document).ready(function () {
		jQuery('a.guide-link').click(function(e) {
			jQuery(this).toggleClass('on');
		});

		jQuery('.clickable').click(function() {
			jQuery('.clickable').removeClass('active');
			jQuery(this).addClass('active');
		});

		jQuery('a.section-link').click(function(e) {
			e.preventDefault();
			var href = jQuery(this).attr('href');
			jQuery('#docContents').load(href);

			var width = jQuery(window).width();
			if (width < 1025) {
				toggleTitlesMenu();
			}
			
			return false;
		});

	});

	function toggleTitlesMenu() {
		jQuery('#docTitles').toggleClass('open');
	}

</script>