<footer>
      <div class="container">


<div class="row">

<div class="footer-nav-wrap footer-nav-wrap-1">
    <div class="footer-nav-column">
    <h3 class="widget-title">Product</h3>
    <ul>
    <li><a href="http://storageos.com/product" target="_blank">Overview</a></li>
<li><a href="http://storageos.com/features" target="_blank">Features</a></li>
<li><a href="http://storageos.com/use-cases" target="_blank">Use cases</a></li>
<li><a href="http://storageos.com/why-storageos" target="_blank">Why StorageOS</a></li>
<li><a href="http://storageos.com/how-it-works" target="_blank">How it works</a></li>
<li><a href="http://storageos.com/how-it-works/#faq" target="_blank">FAQ</a></li>
</ul></div>

    <div class="footer-nav-column">
    <h3 class="widget-title">Solutions</h3>
    <ul>
    <li><a href="http://storageos.com/developers" target="_blank">Developers</a></li>
<li><a href="http://storageos.com/infrastructure-managers" target="_blank">Infrastructure Managers</a></li>
<li><a href="http://storageos.com/cloud" target="_blank">Cloud</a></li>
</ul></div>
    <div class="footer-nav-column"><h3 class="widget-title">Docs</h3>
    <ul id="menu-footer-docs" class="menu">
    <li><a href="https://docs.storageos.staging.wpengine.com" target="_blank">Overview</a></li>
</ul></div>
</div>

<div class="footer-nav-wrap footer-nav-wrap-2">

    <div class="footer-nav-column">
    <h3 class="widget-title">Company</h3>
    <ul>
    <li><a href="http://storageos.com/company/#about" target="_blank">About</a></li>
    <li><a href="http://storageos.com/company/#leadership" target="_blank">Leadership</a></li>
<li><a href="http://storageos.com/careers" target="_blank">Careers</a></li>
<li><a href="http://storageos.com/company/#location" target="_blank">Location</a></li>
<li><a href="http://storageos.com/news" target="_blank">News</a></li>
<li><a href="http://storageos.com/events" target="_blank">Events</a></li>
<li><a href="http://storageos.com/media" target="_blank">Media</a></li>
<li><a href="http://storageos.com/privacy" target="_blank">Legal</a></li>
</ul></div>

    <div class="footer-nav-column">
    <h3 class="widget-title">Learn</h3>
    <ul>
    <li><a href="http://storageos.com/blog" target="_blank">Blog</a></li>
<li><a href="https://play.storageos.staging.wpengine.com" target="_blank">play.storageos.com</a></li>
<li><a href="http://storageos.com/resources" target="_blank">Resources</a></li>
<li><a href="http://resources.wpengine.com/demo-request">Get a demo</a></li>
</ul></div>

</div>
    </div>
</div>
</div>


  <div class="hiring">

        <a href="http://storageos.com/careers/?__hstc=1833966.6e1f7d36c40794cfb5f4d90823778329.1528705092724.1536851268037.1536877143003.3&amp;__hssc=1833966.5.1536911599940&amp;__hsfp=4173928607">We are hiring</a>

    	</div>

    </footer>

    <div class="container-fluid">

    <div class="row">

    	<div class="footer-social">
        <ul id="menu-footer-social" class="menu">

              <li><a href="https://twitter.com/Storage_OS" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
              <li><a href="https://www.facebook.com/storageos" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
              <li><a href="https://www.linkedin.com/company/storageos" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
              <li><a href="http://slack.storageos.com/" target="_blank"><i class="fa fa-slack" aria-hidden="true"></i></a></li>

</ul></div>

    </div>
