<footer id="footer">
  <div class="container">
    <div class="row">
      <div id="footer-1" class="col-lg-4 col-md-4">
        <div class="row">
          <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 menu-1">
            <ul>
              <li><a href="http://storageos.com/team/">Company</a></li>
              <li><a href="http://storageos.com/company/">About Us</a></li>
              <li><a href="http://storageos.com/category/blogs/">Blogs</a></li>
              <li><a href="http://storageos.com/category/news/">News</a></li>
            </ul>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 menu-2">
            <ul>
              <li><a href="http://storageos.com/why-storageos/">Why StorageOS</a></li>
              <li><a href="http://storageos.com/features/">Features</a></li>
              <li><a href="http://storageos.com/pricing/">Pricing</a></li>
              <li><Link to="/auth/create-account/">Get Started</Link></li>
            </ul>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 menu-3">
            <ul>
              <li><a href="http://storageos.com/contact/">Talk to us</a></li>
              <li><a target="_BLANK" href="https://github.com/storageos">GitHub</a></li>
              <li><a href="http://support.storageos.com/">Support</a></li>
              <li><a href="http://storageos.com/legal/">Privacy</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div id="footer-2" class="col-lg-4 col-md-4">
        <div class="social">
          <a href="https://twitter.com/Storage_OS" target="_BLANK" class="twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a>
          <a href="https://www.linkedin.com/company/storageos" target="_BLANK" class="linkedin"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
          <a href="https://www.facebook.com/storageos" target="_BLANK" class="facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a>
        </div>
      </div>
      <div id="footer-3" class="col-lg-4 col-md-3">
        <div class="row">
          <div class="contact-details">
            <div class="footer-logo">
              <img src="{{ site.baseurl }}/images/logo-2.png" role="presentation" />
            </div>
            <h6 class="font-1">31 Southampton Row, London WC1B 5HJ</h6>
            <h6 class="font-1">Tel: +44 (0) 20 3585 1366<br />Email: {{ site.email }}</h6>
          </div>
        </div>
      </div>
    </div>
    <div class="row copyright">
      <div class="col-lg-12">
        <div class="row">
          <p>&copy; Copyright 2015-2016 StorageOS</p>
        </div>
      </div>
    </div>
  </div>
</footer>
