<footer>
	<div id="footer">
      <div class="footer-top">
        <div class="container">
          <div class="col-md-6">
            <h3>Quick links</h3>
            <div class="row">
              <div class="col-sm-6">
                <ul class="pages">
                  <li><a href="https://storageos.com" target="_blank">Home</a></li>
                  <li><a href="https://storageos.com/product" target="_blank">Product</a></li>
                  <li><a href="https://storageos.com/pricing/" target="_blank">Pricing</a></li>
                  <li><a href="https://docs.storageos.com/docs/introduction/quick_start.html" target="_blank">Quick Start</a></li>
                  <li><a href="https://docs.storageos.com/" target="_blank">Docs</a></li>
                  <li><a href="/support" target="_blank">Support</a></li>
                </ul>
              </div>
              <div class="col-sm-6">
                <ul class="pages">
                  <li><a href="https://storageos.com/company/" target="_blank">Company</a></li>
                  <li><a href="https://storageos.com/careers/" target="_blank">Careers</a></li>
                  <li><a href="https://storageos.com/news/" target="_blank">News</a></li>
                  <li><a href="https://storageos.com/events/" target="_blank">Events</a></li>
                  <li><a href="https://storageos.com/blog/" target="_blank">Blog</a></li>
                  <li><a href="https://storageos.com/resources/" target="_blank">Resources</a></li>

                  <li><a href="https://storageos.com/privacy/" target="_blank">Legal</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <h3>Company Address</h3>
            <p>StorageOS<br>
20 Midtown,<br>
20 Procter Street</br>London </br>WC1V 6NX</p>
            <p>Tel: +44 (0) 20 39151377<br>
              Email: info@storageos.com
            </p>
          </div>
          <div class="col-md-3">
            <h3>Social</h3>
            <ul class="social-icons">
              <li><a href="https://twitter.com/Storage_OS" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
              <li><a href="https://www.facebook.com/storageos" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
              <li><a href="https://www.linkedin.com/company/storageos" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
              <li><a href="http://slack.storageos.com/" target="_blank"><i class="fa fa-slack" aria-hidden="true"></i></a></li>
            </ul>

          </div>
        </div>
      </div>
    </div>
</footer>
