<div id="side-menu" class="guide-list col-sm-4">
    <ul>
        {% for guide in site.guides %}
        <li>
            <a class="guide-link title " href="javascript:void(0);" data-toggle="collapse" data-target="#{{ guide.anchor }}">{{ guide.title }}</a>
            <div id="{{ guide.anchor }}" class="guide-child collapse {% if guide.anchor == anchor %}in{% endif %}">
                <div class="section-list">
                    <ul>
                        {% for section in guide.sections %}
                        <li><a class="section-link clickable title {% if section.module == title %}active{% endif %}" href="{{ site.baseurl }}/docs/{{ section.module }}.html">{{ section.title }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </li>
        {% endfor %}
    </ul>
</div>
