<div id="side-menu" class="guide-list">
    {{ title }} </br>
    {{ anchor }}
    <ul>
        {% for guide in site.guides %}

        <li>
            <a class="guide-link title " href="javascript:void(0);" data-toggle="collapse" data-target="#{{ guide.anchor }}">{{ guide.title }}</a>
            <div id="{{ guide.anchor }}" class="guide-child collapse {% if guide.anchor == anchor %}in{% endif %}">
                <div class="section-list">
                    <ul>
                        {% for section in guide.sections %}
                        section.module: {{ section.module }} </br>
                        <li><a class="section-link clickable title {% if section.module == title or anchor contains section.anchor %}active{% endif %}" href="{{ site.baseurl }}/docs/{{ section.module }}.html">{{ section.title }}</a>

                            {% if section.items or anchor == section.module %}
                            <ul>
                                {% for item in section.items %}
                                item.module: {{ item.module }} </br>
                                <li><a class="section-link clickable title {% if item.module == title  or section.anchor == anchor %}active{% endif %}" href="{{ site.baseurl }}/docs/{{ item.module }}.html">{{ item.title }}</a></li>
                                {% endfor %}
                            </ul>
                            {% endif %}
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </li>
        {% endfor %}
    </ul>
</div>
